#painel
  .container_16
    .grid_6.prefix_4
      .box
        %p
          %strong Oops, parece que você não tem acesso a este site
        %p
          O seu e-mail (#{current_user.nickname}) não está autorizado a acessar o sistema da HFM, você pode entrar em contato com #{link_to "fernando@hfmseguros.com.br", "mailto:fernando@hfmseguros.com.br"} para requisitar acesso.
