#painel
  .container_16
    .grid_4.prefix_6
      .box
        %p
          %strong Olha só que legal...
        %p
          Poupamos você de preencher aqueles formulários chatos para criar uma conta. Aqui você utiliza o Facebook para se identificar! Legal né?
        = link_to "Sim! Quero me identificar com o Facebook", "/auth/facebook"
