#painel
  .container_16
    .grid_4.prefix_6
      .box
        %p
          %strong Olha só que legal...
        %p
          Poupamos você de preencher aqueles formulários chatos para criar uma conta. Aqui você utiliza o Google para se identificar! Legal né?
        %p= link_to "Entrar com o Google", "/auth/google_oauth2"
