/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset
@import compass/css3
@import compass/utilities/general/clearfix
@import icons

@import blueprint/typography
$blueprint-font-family: Lucida Sans Unicode, Lucida Grande, sans-serif
+blueprint-typography

$red: #DF6262
$brown: #DF9B62
$purple: #B34F87
$green: #4FB34F

@mixin btn($color)
  :display block
  :background $color
  :color white
  :text-decoration none
  :padding 5px 8px
  :float left
  :font-weight bold
  :border 1px solid $color
  :cursor pointer
  :margin 0
  :line-height 1em
  :font-size 1.1em
  +box-shadow(inset 0 1px 2px rgba(255, 255, 255, 0.6), 0 2px 1px rgba(0, 0, 0, 0.6))
  +background-image(linear-gradient(top, lighten($color, 20%), $color))
  +border-radius(5px)
  &:hover
    color: white !important
    :background lighten($color, 20%)
    +background-image(linear-gradient(bottom, lighten($color, 20%), $color))
  &:active
    :padding 6px 8px 4px 8px
    +box-shadow(none)
  &:visited
    :color white

body
  :color darken($brown, 45%)

h2
  :font-family 'Leckerli One', cursive
  :color darken($brown, 45%)

input[type=submit]
  +btn(darken($green, 20%))

a
  :color $green
  :text-decoration none
  :font-weight bold
  &:hover
    :color $green
    :text-decoration underline
  &:visited
    :color $green

#notice
  :color saturate($green, 100%)
  +text-shadow(saturate($green, 100%) 0 0 5px)
  :text-align right

#menu
  :border-top 1px solid darken($brown, 40%)
  :background darken($brown, 45%)
  :border-bottom 1px solid darken($brown, 50%)
  :padding 10px 0
  :color darken($brown, 20%)
  :font-size 1.2em
  +box-shadow(darken($brown, 50%) 0 -10px 10px inset)
  a
    :color white
    :text-decoration none
    :font-weight bold
    :text-transform uppercase
    :margin-right 20px
    &:hover
      :border-bottom 2px solid darken($brown, 30%)

#insurances_index_forms
  :padding 20px 0
  :border-top 1px solid lighten($brown, 35%)
  :background-color lighten($brown, 30%)
  :border-bottom 1px solid lighten($brown, 25%)
  +background-image(linear-gradient(0deg, rgba(white, .2) 50%, rgba(white, 0) 50%, rgba(white, 0)))
  :background-size 50px 50px
  form
    :padding 10px
    +box-shadow(gray 0 0 10px)
    table
      :margin 0
      td
        :width 50%
  label
    :display block
    :text-align right

#container
  :padding 20px 0
  :border-top 1px solid lighten(gray, 50%)
  :background lighten(gray, 45%)
  :border-bottom 1px solid lighten(gray, 40%)

table.data
  :width 100%
  :font-size 0.8em
  +box-shadow(gray 0 0 10px)
  th
    :background $brown
    :color white
  th, td
    :padding 5px
  strong
    :font-size 1.5em
  tr
    &:nth-child(even)
      :background lighten($brown, 25%)
    &:nth-child(odd)
      :background lighten($brown, 30%)
  a
    :display block
    :color transparent
    &:hover
      +opacity(0.7)

body[data-controller="clients"][data-action="index"]
  table.data
    :margin-top 20px
