/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset

@import blueprint/typography
$blueprint-font-family: Lucida Sans Unicode, Lucida Grande, sans-serif
+blueprint-typography

table.data
  :width 100%
  th
    :background lighten(gray, 30%)
  td
    :background lighten(gray, 40%)
  th, td
    :border 2px solid white
    :padding 5px

fieldset
  :border 1px solid gray
  legend
    :font-size 1.5em
    :margin 10px
